body {
    font-family: sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    padding-top: 50px;
}
main {
    background: #ffffff;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
h1 {
    color: #27ae60;
}
